main{
    display: none;
  
}


body {
  

 background-color: rgb(255, 0, 0); 

    width: 900px;
  display: grid;
  grid-template-columns: repeat(50, 200px); /*nbr + taille collones */
  gap: 30px; /*gouttières */
  grid-auto-rows:70px; /*hauteurs des lignes */
}

/* .grand
{


} */
 header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
    
  
  padding:10px;
}

header a {

  color: rgb(255, 255, 255);
  margin-right: 100px;
  text-decoration: none;
  font-size: 16px;
}
header a:hover {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  text-decoration: none;
  font-size: 25px ;
}


.grand{
  font-family: "HyperScrypt.otf";
  color: blue;
   display: inline-block;
  
animation:  tomber 10s linear infinite;  /* applique les deux animations en boucle infinie */
 
}


/* .flash {
  animation: flashColor 0.2s infinite alternate;
} */

@keyframes flashColor {
  from {
    color: rgb(0, 0, 255);
  }
  to {
    color: rgb(255, 255, 255);
  }
}







.moyen{   

  /* grid-auto-rows:auto;   */
  color: rgb(255, 255, 255);
    font-family: "Parasitype-ExtraLight.otf";
      background-color: rgb(0, 34, 255);
       border-radius: 10px; /* arrondit les coins */
      
       
  word-wrap: break-word; /* coupe les mots longs */
   padding: 10px;
  overflow: hidden;
        /* coupe les mots longs */
   
animation: waveBlur 3s infinite alternate , slide-in 3s infinite alternate;; 

}
.moyen:hover{

    color: rgb(255, 255, 255);
    font-size: 30px; 
     animation-play-state: paused !important; 
    filter: blur(0px) !important; 
    transition-duration: 1s;
    height: max-content;
   /* met l’animation en pause */
}
  


@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes waveBlur {
  0% {
    filter: blur(0%);
  }
  50% {
    filter: blur(50px);
  }
 
  100% {
    filter: blur(0px); /* reste à 0px plus longtemps */
  }
}

@keyframes tomber {
  0% {
    transform: translateY(-100vh); /* position initiale */
    opacity: 0 ;
  }
  10%{
    transform: translateY(-100vh); /* position initiale */
    opacity: 100;
  }
  99.9% {
    transform: translateY(100vh); /* tombe en bas de l'écran */
    opacity: 0; /* disparaît progressivement */
  }
100% {
    transform: translateY(-100vh); /* revient au sommet */
    opacity: 100; /* réapparait */
  }
  
}

@font-face {
  font-family: "Parasitype-ExtraLight.otf"; /*choix du mot clef */
  src: url("../Parasitype-ExtraLight.otf");  /*attention il faut bien ajouter '../' si besoin */
}



@font-face {
  font-family: "HyperScrypt.otf"; /*choix du mot clef */
  src: url("../HyperScrypt.otf");  /*attention il faut bien ajouter '../' si besoin */
}

