main{
    display: none;
  
}


body {

  background-color: rgb(0, 0, 0);  
  width: 100px;
  display: grid;
  grid-template-columns: repeat(200, 10px); /*nbr + taille collones */
  gap: 5px; /*gouttières */
  grid-auto-rows: 20px; /*hauteurs des lignes */
  padding-bottom: 50px;
}
.petit{
    /* background-color: aqua; */
font-size: 20px;
    filter: drop-shadow(16px 16px 20px blue);
    margin-bottom: 8px;
    font-family : "Barlow-elasticc.otf";
    color: rgb(192, 152, 152);
    transform: rotate(10deg);
  animation-duration: 10s;
   animation-iteration-count: infinite;
  animation-name: slide-in;
  animation-direction: alternate;
    display: inline-block;
   /* animation-duration: 3s;
  animation-name: grow-shrink;  */
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
    
  
  padding:10px;
}

header a {

  color: rgb(255, 255, 255);
  margin-right: 100px;
  text-decoration: none;
  font-size: 16px;
}
header a:hover {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  text-decoration: none;
  font-size: 25px ;
}



@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
@keyframes grow-shrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
    color: magenta;
  }
}





header {
  position: absolute;
  width: 100vw;
  background-color: rgba(226, 6, 6, 0.103);
  padding: 10px;
  z-index: 10;
}





.grand{

    font-size: 20px;
    font-family : "Fungal-Grow400Thickness500.ttf";
    color: rgb(255, 255, 255);
/* text-transform: uppercase; */
 transform: rotate(-5deg);
 /* opacity: 0.2; */
/* filter: blur(50px); */
/* background-color: rgb(207, 8, 41); */

  animation-name: couleur; /*Une même animation pour tous les blocs de texte*/
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}


@keyframes couleur {
  from {
   color: rgb(4, 0, 255);
  }

  to {
    color: rgb(90, 0, 0);
  }
}



/* .moyen{
background-color: black;
    font-size: 30px;
text-transform: uppercase;
color: red;
font-family: "Parasitype-ExtraLight.otf";


} */

.dessin{
    color: violet;
    font-size : 30px;
font-family: "lyrics-movement.regular.ttf";
}




@font-face {
  font-family: "Fungal-Grow400Thickness500.ttf"; /*choix du mot clef */
  src: url("../Fungal-Grow400Thickness500.ttf");  /*attention il faut bien ajouter '../' si besoin */
}



@font-face {
  font-family: "Barlow-elasticc.otf"; /*choix du mot clef */
  src: url("../Barlow-elasticc.otf");  /*attention il faut bien ajouter '../' si besoin */
}




@font-face {
  font-family: "Parasitype-ExtraLight.otf"; /*choix du mot clef */
  src: url("../Parasitype-ExtraLight.otf");  /*attention il faut bien ajouter '../' si besoin */
}


@font-face {
  font-family: "lyrics-movement.regular.ttf"; /*choix du mot clef */
  src: url("../lyrics-movement.regular.ttf");  /*attention il faut bien ajouter '../' si besoin */
}





